.seasonsContainer {
  margin: 20px;
}

.seasonTitle {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.episodes {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  gap: 40px 20px;
}
